
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}


html {
    font-size: $base-font-size;
}
:root {
    scroll-behavior: unset;
}
body {
    font-family: $base-font;
    font-size: 16px;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 16px;
    color: $theme-font;
    margin: 0;
    font-family: $base-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img{
    max-width: 100%;
}


.d-flex {
    display: flex;
}

.ptop-15{
    padding-top: 15px;
}
.p-left-14{
    padding-left: 14px;
}
.theme-color{
    color: $theme-color;
}
.common-a{
    color: $theme-font;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: $theme-color;
        
    }
}
.text-under{
    text-decoration: underline;
}