
.header-area{
    position: relative;
}

// header top section start 
.header-top {
    background: $primary-bg;
    .top-title {
        font-size: 18px;
    }
}
// header top section end  










