
.header-area{
    position: relative;
    background: $primary-bg;
    .blank-div {
        position: absolute;
        z-index: 1;
        height: 600px;
        width: 100%;
        top: 0;
        left: 0;
        display: none; 
    }
    .blank-div.active {
        display: block;
    }    
}

// header top section start 

.header-top.active {
    animation: remove .4s linear 0s 1 forwards;
    -webkit-animation: remove .4s linear 0s 1 forwards;
}
@keyframes remove{
    0% {opacity: 1;
        max-height: 100%;
        padding: 10px 0px;}
    60% {opacity: .7;
           max-height: 50%;
           padding: 5px 0px;}
    80% {opacity: 0.4;
        max-height: 10%;
        padding: 2px 0px;}
    100% {opacity: 0;
          max-height: 0;
          padding: 0px 0px;
          animation: poof 0.1s linear 0s 1;
    -webkit-animation: poof 0.1s linear 0s 1;}
  }
  
.header-top {
    padding: 10px 0;
    position: relative;
    border-bottom: 2px solid $white;
    .top-title {
        font-size: 14px;
        color: $theme-font;
    }
    .them-color {
        color: $theme-color;
    }
    .close {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        i {
            font-size: 18px;
            transition: .3s;
            cursor: pointer;
            color: $theme-font;
            font-weight: 400;
            &:hover{
                transform: rotate(90deg);
            }
        }
    background: $primary-bg;
    .top-title {
        font-size: 18px;
    }
    }
}
// header top section end  

// header middle style start 

.middle-wrapper {
    display: flex;
    align-items: center;
    padding: 20px 0 40px 0;
    .middle-left {
        display: flex;
        align-items: center;
        width: 75%;
        justify-content: space-between;
    }
}

.middle-right {
    width: 24.7%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    .payment, .language{
        position: relative;
        .payment-way, .language-option{
            padding: 10px;
            background: $white;
            box-shadow: 0px 0px 24px rgba(0,0,0,.08);
            border-radius: 5px;
            position: absolute;
            top: 100%;
            max-width: 150px;
            z-index: 11;
            visibility: hidden;
            opacity: 0;
            transition: all .3s ease;     
            li {
                margin: 5px 0;
                a {
                    font-size: 14px;
                    color: $theme-font;
                    transition: all .3s ease;
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
        }
        .payment-way.active, .language-option.show{
            visibility: visible;
            opacity: 1;
        }
    }
    li {
        margin: 0 10px;
        color: $theme-font;
        cursor: pointer;
        span {
            margin: 0 2px;
        }
    }
}
.product-search-wrap {
    select {
        max-width: 140px;
        width: 100%;
        min-height: 48px;
        height: 48px;
        padding: 0 15px;
        outline: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    #category {
        background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat white;
        background-position: calc(100% - 0.75rem) center !important;
        -moz-appearance:none !important;
        -webkit-appearance: none !important; 
        appearance: none !important;
        option, optgroup {
            font-size: 14px;
            color: $theme-font;
            font-weight: 300;
        }
    }
    .product-search-input {
        position: relative;
        input {
            min-width: 425px;
            width: 100%;
            min-height: 48px;
            height: 48px;
            padding: 15px;
            outline: none;
            border-radius: 0px;
            border: 1px solid;
            border-left: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .search-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            cursor: pointer;
            color: $theme-font;
            transition: all .3s ease;
            &:hover{
                color: $theme-color;
            }
        }
    }
}
.login-accnt {
    position: relative;
}
#myModal {
    display: none;
    padding: 30px 25px;
    background: $white;
    box-shadow: 0px 0px 24px rgba(0,0,0,.08);
    border-radius: 5px;
    width: 240px;
    position: absolute;
    z-index: 1111;
    right: 0;
    top: 30px;
    input {
        width: 100%;
        height: 45px;
        padding: 15px 20px;
        margin-bottom: 17px;
        border-radius: 5px;
        border: 1px solid $theme-font;
        outline: none;
    }
    .login-btn {
        width: 75px;
        height: 45px;
        padding: 0;
        display: block;
        margin-bottom: 10px;
    }
    a {
        font-size: 15px;
        color: $theme-color;
        display: block;
        margin-bottom: 10px;
    }
    p {
        font-size: 15px;
        color: $theme-font;
        margin-bottom: 20px;
    }
}
#closeBtn {
    width: 80px;
    height: 35px;
    background: #FF5B2E;
    text-align: center;
    line-height: 35px;
    border: none;
    color: #fff;
    display: block;
    border-radius: 5px;
}
// header middle style end  




// menu area start 
.manu-wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width:1200px) {
        display: none;
    }
}
.menu-area {
    display: flex;
    align-items: center;
    li {
        margin-right: 35px;
        padding: 20px 0;
        &:last-child{
            margin-right: 0;
        }
        a {
            color: $theme-font;
            font-size: 15px;
            transition: all .3s ease;
            &:hover {
                color: $theme-color;
                text-decoration: underline;
            }
            span {
                margin-right: 3px;
            }
            .animal-icon {
                svg {
                    width: 16px;
                    path {
                        fill: $theme-font
                    }
                }
            }
        }
        .sub-menu {
            position: absolute;
            top: 100%;
            display: flex;
            background: #ece3db;
            padding: 20px 25px;
            border-radius: 5px;
            visibility: hidden;
            opacity: 0;
            transition: all .3s ease;
            z-index: 11;
            .menu-pages {
                margin-right: 50px;
                .sub-menu-title {
                    font-weight: 600;
                    color: $theme-color;
                }
                li {
                    margin: 10px 0;
                    padding: 0 0;
                    a {
                        transition: all .3s ease;
                        &:hover{
                            color: $theme-color;
                        }
                    }
                }
                .view-all {
                    a {
                        color: $theme-color;
                        text-decoration: underline;
                    }
                }
            }
        }
        &:hover{
            a {
                color: $theme-color;
                text-decoration: underline;
            }
            .sub-menu{
                visibility: visible;
                opacity: 1;
                li {
                    a {
                        color: $theme-font;
                        text-decoration: none;
                    }
                }
            }
            .single-card {
                .card-title{
                    a{
                        color: $theme-font;
                        text-decoration: none;
                    }
                }
                .card-sub-title{
                    a{
                        color: $theme-font;
                        text-decoration: none;
                    }
                }
            }
        }
        .mega-menu {
            position: absolute;
            left: 0;
            max-width: 100%;
            width: 100%;
            display: block;
        
            // .single-card {
            //     .card-title{
            //         a{
            //             &:hover{
            //                 color: $theme-font;
            //                 text-decoration: none;
            //             }
            //         }
            //     }
            //     .card-sub-title{
            //         a{
            //             color: $theme-font;
            //             text-decoration: none;
            //         }
            //     }
            // }
            .cat-image-side, .discount-banner, .reptile-content {
                a {
                    text-decoration: none;
                }
            }
            .small-pet-food {
                li {
                    text-align: start;
                    .menu-pages{
                        margin-right: 0;
                    }
                }
            }
            .border-div {
                border-bottom: 1px solid ;
                margin: 30px -25px 30px -25px;
            }
        }
        .cat-menu{
            display: flex;
            .menu-pages {
                width: 15%;
                margin-right: 0;
            }
            .menu-card-wrap{
                width: 85%;
                .menu-card-title {
                    font-size: 22px;
                    color: $theme-color;
                    line-height: 36px;
                    padding-bottom: 5px;
                    font-weight: 700;                    
                }
                .card-container-active{
                    .card-rating {
                        li {
                            margin: 0;
                            padding: 0;
                        }
                    }
                    .hover-list {
                        li {
                            padding: 0;
                        }
                    }
                    .product-sticker {
                        li {
                            padding: 0;
                        }
                    }
                    .slick-arrow {
                        background: $primary-bg;
                        color: $theme-font;
                        position: absolute;
                        top: -40px;
                        height: 30px;
                        width: 40px;
                        border: 1px solid $theme-font;
                        line-height: 30px;
                        font-size: 20px;
                        transition: all .3s ease;
                        &:hover {
                            background: $theme-color;
                            color: $white;
                            border: 1px solid $theme-color;
                        }
                    }
                    .pull-left {
                        right: 50px;
                    }
                    .pull-right {
                        right: 0px;
                    }
                }
                .slick-slider {
                    margin: 0 -5px;
                }
                .slick-slide {
                    margin: 0 5px;
                }
            }
        }
        .fish-menu {
            display: flex;
            padding: 0;
            .fish-menu-left {
                width: 40%;
                display: flex;
                flex-wrap: wrap;
                div {
                    padding: 15px;
                    .menu-pages {
                        padding-bottom: 15px;
                        margin: 0;
                    }
                }
            }
            .fish-menu-right {
                width: 60%;
                .fish-menu-cover {
                    background-image: url("../images/menu_card/cat01.jpg");
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
        .all-category-list {
            padding: 0;
            .category-btn-list {
                width: 20%;
                background: #f2f2f2;
                li {
                    margin: 0;
                    padding: 0;
                    border-bottom: 1px solid rgba(8,40,74,.07);
                    &:last-child{
                        border-bottom: none;
                    }
                }
                .nav-link {
                    padding: 20px 24px;
                    text-align: start;
                    // border-top: 1px solid rgba(8,40,74,.07);
                    border-radius: 0;
                    font-weight: 500;
                    width: 100%;
                    color: $theme-font;
                    border: none;
                    a {
                        .animal-icon {
                            margin-right: 8px;
                            svg {
                                path {
                                    fill: $theme-font;
                                }
                            }
                        }
                    }
                }
                .nav-link.active {
                    background: #ece3db;
                }
            }
            .tab-content {
                width: 80%;
                .category-content {
                    display: flex;
                    padding: 30px;
                }
                .cat-content {
                    padding: 30px;
                }
                .small-pets-content {
                    li {
                        margin-right: 0;
                    }
                }
                .fish-content {
                    background-image: url(..images/all_category_menu/banner02.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    padding: 30px;
                    .fish-menu-left {
                        display: flex;
                        flex-wrap: wrap;
                        // width: 60%;
                        .menu-pages {
                            width: 20%;
                        }
                    }
                }
            }
        }
    }
}

.discount-banner {      
    background-image: url("../images/all_category_menu/tia.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 380px;
    background-position: top right;
    padding: 30px;
    a {
        img {
            width: 150px;
            margin-bottom: 20px;
        }
        h6 {
            font-size: 40px;
            color: #FFCA1F;
            font-weight: 700;
        }
        p {
            max-width: 70%;
            font-size: 27px;
            color: $white;
            font-weight: 600;
        }
        .nature-logo {
            display: flex;
            align-items: center;
            li{
                margin: 0;
                padding: 0;
                img {
                    width: 20px;
                    margin-right: 15px;
                    margin-bottom: -14px;
                }
            }
            .nature-text {
                margin-top: 20px;
                display: block;
                color: $white;
                font-size: 17px;
            }
        }
    }
}

.category-card-details {
    h5 {
        font-size: 16px;
        font-weight: 600;
        color: $theme-font;
    }
}
.poster-images {
    display: flex;
    li {
        position: relative;
        a {
            img {
                max-height: 270px;
                max-width: 330px;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                object-fit: cover;
            }
        }
        .tex01 {
            position: absolute;
            font-size: 20px;
            color: $white;
            font-weight: 600;
            width: 50%;
            top: 45px;
            left: 30px;
        }
        .text02 {
            width: 50%;
            padding: 10px;
            border: 1px solid $white;
            border-radius: 5px;
            position: absolute;
            left: 30px;
            top: 45%;
            span {
                font-size: 16px;
                color: $white;
            }
            p {
                font-size: 20px;
                color: $white;
                font-weight: 600;
            }
        }
        .text03 {
            color: $theme-font;
            span {
                display: block;
                font-size: 25px;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        }
    }
}
.food-list {
    display: flex;
    li {
        text-align: center;
        padding: 0;
        a {
            img {
                max-width: 125px;
                max-height: 120px;
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
        .food-name {
            font-size: 15px;
            color: $theme-font;
            margin-top: 15px;
            transition: all .3s ease;
        }
        &:hover{
            .food-name{
                color: $theme-color;
            }
        }
        .all-food {
            li {
                a {
                    font-size: 13px;
                    color: $theme-font;
                    font-weight: 300;
                    transition: all .3s ease;
                    &:hover{
                        text-decoration: underline;
                        color: $theme-color;
                    }
                }
            }
        }
    }
}

.cat-slider-side {
    padding: 30px;
    .menu-card-title {
        font-size: 20px;
        color: $theme-font;
        line-height: 37px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .cat-category {
        display: flex;
        column-gap: 10px;
        .single-card {
            margin-bottom: 0;
            li {
                padding: 0;
                margin: 0;
            }
            .price-tag>div {
                span {
                    font-size: 13px;
                }
            }
        }
    }
}

.cat-image-side {
    height: 100%;
    background-size: cover;
    background-image: url(../images/menu_card/cattab.jpg);
    background-position: top left;
    padding: 30px;
    a {
        img {
            width: 150px;
            margin: 20px 0 10px 0;
        }
        .little-paw-text {
            margin-top: 5px;
            font-size: 27px;
            color: $white;
            font-weight: 700;
            span {
                margin-top: -5px;
            }
            
        }
        .discount-text {
            img {
                max-width: 110px;
            }
        }
    }
}
.bird-food-category {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    li {
        padding: 25px 18px 0 18px;
        background: #f2f2f2;
        max-width: 145px;
        margin: 0 0 15px 0;
        border-radius: 5px;
        a {
            span {
                font-size: 12px;
                color: $theme-font;
                text-decoration: underline;
                margin-bottom: 15px;
                transition: all .3s ease;   
                display: block;                          
            }
            p {
                font-size: 18px;
                color: $theme-font;
                margin-bottom: 10px;
                transition: all .3s ease;
            }
            img {
                max-height: 130px;
                max-width: 105px;
            }
        }
        &:hover {
            a{
                span {
                    color: $theme-color;
                }
                p {
                    color: $theme-color;
                }
            }
        }
    }
}

.bird-image-side {
    background-image: url("../images/all_category_menu/banner03.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 30px;
    .bird-img-title{
        font-size: 26px;
        line-height: 40px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .bird-img-discount {
        color:#B62052;
        font-size: 40px;
        font-weight: 700;
        margin-left: 10px;

    }
    .sub-title {
        font-size: 14px;
        color: $white;
        margin-top: 30px;
        margin-left: 20px;
        font-weight: 300;
    }
}

.reptile-content {
    padding: 30px;
    .reptile-img-content {
        padding: 20px;
        // background-image: url("/assets/images/all_category_menu/reptile01.jpg");
        background-position: top right;
        background-repeat: no-repeat;
        background-size: auto;
        .reptile-content-title {
            font-size: 35px;
            font-weight: 700;
            margin-bottom: 5px;
            img {
                width: 30%;
            }
        }
        .reptile-subtitle{
            font-size: 22px;
            line-height: 37px;
            margin-bottom: 5px;
            font-weight: 600;
            max-width: 45%;
        }
        span {
            font-size: 14px;
            img {
                width: 15px;
                margin-right: 10px;
            }
        }
    }
    .menu-card-title {
        font-size: 22px;
    }
}




.yellow-color{
    color: #FFCA1F;
}
.theme-font{
    color: $theme-font;
}
.color-white{
    color: $white;
}

.food-list-partner {
    display: flex;
    align-items: center;
    li {
        a {
            display: inline;
            img {
                max-width: 130px;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

.menu-widget {
    display: flex;
    align-items: center;
    li {
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
        a {
            color: $theme-font;
            span {
                margin: 0 5px;
            }
        }
    }
}

// menu area end



// side bar for mobile menu 
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: #ebebeb;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */

  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
  /* Position and style the close button (top right corner) */
.sidenav .closebtn {  
    width: 100%;
    /* position: absolute; */
    font-size: 36px;
    right: 55px;
    height: 40px;
    /* width: 55px; */
    background: #FF5B2E;
    text-align: center;
    line-height: 40px;
    z-index: 111;
    color: #fff;
    transition: 0.3s;
    /* text-align: center; */
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
}


.sidenav {
    .btn-list {
        flex-wrap: nowrap;
        .nav-link {
            flex-basis: 33.33%;
            padding: 0;
            height: 55px;
            background: #ece3db;
            border: none;
        }
        .nav-link.active {
            background: #ebebeb;
        }
    }
    .tab_name {
        font-size: 15px;
        color: $theme-font;
        span {
            margin-right: 5px;
        }
    }
    .tab-content {
        padding: 30px 15px;
    }
}
.shop_tab {
    display: flex;
    justify-content: center;
    .animal-icon {
        flex-basis: 20%;
        svg {
            max-width: 20px;
            path {
                fill: $theme-font;
            }
        }
    }
}

.main_content {
    .main_menu {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ebebeb;
        li{
            padding: 15px 0;
            a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $theme-font;
                transition: all .3s ease;
                &:hover{
                    color: $theme-color;
                }
            }
            #accordion_content {
                padding-top: 15px;
                overflow: hidden;
                max-height: 0px;
                transition: max-height 0.3s ease-out;
            }
        }
    }
    .information_content {
        h6 {font-size: 26px; color: $theme-font; margin: 15px 0; font-weight: 600;}
        .information_list {
            li{
                padding: 10px 0;
                a {
                    display: flex;
                    align-items: center;
                    column-gap: 15px;
                    color: $theme-font;
                    transition: all .3s ease;
                    .infom_icon {
                        width: 25px;
                        text-align: center;
                        color: $theme-color;
                        svg {
                            path {
                                fill: $theme-color;
                            }
                        }
                    }
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
        }
    }
}

.shop_content_title {
    font-size: 22px;
    color: $theme-font;
    padding-bottom: 15px;
}
.pet_shop {
    margin-bottom: 30px;
    .food-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            margin: 10px 5px;
            a {
                display: block;
                img {
                    max-width: 75px;
                }
                p {
                    margin-top: 10px;
                }
            }
        }
    }
    .food-list-partner {
        flex-wrap: wrap;
        justify-content: center;
        li {
            margin: 10px;
            height: 90px;
            line-height: 90px;
            background: $white;
            padding: 0 15px;
            border-radius: 5px;
            a {
                img {
                    max-width: 95px;
                }
            }
        }
    }
}
#account_login {
    input {
        width: 100%;
        height: 45px;
        padding: 15px 20px;
        margin-bottom: 17px;
        border-radius: 5px;
        border: 1px solid $theme-font;
        outline: none;
    }
    label {
        margin-bottom: 10px;
        color: $theme-font;
        font-weight: 500;
    }
    .login-btn {
        width: 75px;
        height: 45px;
        padding: 0;
        display: block;
        margin-bottom: 10px;
    }
    a {
        font-size: 15px;
        color: $theme-color;
        display: block;
        margin-bottom: 10px;
    }
    p {
        font-size: 15px;
        color: $theme-font;
        margin-bottom: 20px;
    }
}

.mobile-btn {
    display: none;
    @media (max-width:1200px) {
        display: block;
        text-align: end;
        padding: 10px 0;
        transition: all .3s ease;
        i{
            font-size: 22px;
        }
        &:hover{
            color: $theme-color;
        }
    }
}